*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    background: #FFF;
    font-family: 'Quicksand', sans-serif
}  
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.content{
	color: #fff;
	padding: 0 2rem;
	margin-top: 4rem;
	font-family: 'Staatliches', cursive;
	text-align: center;
}
.content h3{
	font-weight: normal;
	margin-bottom: 8px;
}
.shape{
	position: absolute;
	height: 1500px;
    width: 1500px;
	top: -10%;
    right: 48%;
	transform: translateY(-50%);
	background-image: linear-gradient(-45deg, #0d335d 100%, #00587a 0%);
	border-radius: 50%;
	z-index: -1;
}
@media (max-width: 870px){
	.shape{
		min-height: 600px;
		height: 100vh;
	}
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 2rem;
}

.car-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin-left: 10%;
}

.img img{
	width: 100%;
}

form{
	width: 360px;
}

.car-content img{
    height: 100px;
}

.car-content h2{
	margin: 15px 0;
	color: #444;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.car-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 20px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.car-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}
.input-div > div > select{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
	border: none;
	width: 315px;
	font-family: 'Staatliches', cursive;
	background: transparent;
}

select:focus{ 
	outline: none;
}

.input-div > div > textarea {
	position: absolute;
	width: 100%;
	height: 100%;
    margin: 9px 0;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
	outline: none;
	border: none;
	background: transparent;
	font-family: 'Staatliches', cursive;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #0d335d;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}
.input-div.focus > div > select{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > div > textarea{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #0d335d;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'Staatliches', cursive;
}

.input-div.pass{
	margin-bottom: 4px;
}
.Ve{
	outline: none;
	border: none;
	text-decoration: none;
}
.btn{
	width: 150px;
	background-color: #12192C;
	border: none;
	outline: none;
	height: 49px;
	border-radius: 49px;
	color: #fff;
	text-transform: uppercase;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
}

.btn:hover{
	background-position: right;
	background-color: #0d335d;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.car-content h2{
        font-size: 1.5rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.car-content{
		justify-content: center;
	}
}