:root{
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #FFF;
    --color-grey: #f5f6f8;
}


body{
    font-size: 'Roboto', sans-serif;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light{
    background-color: var(--color-light)!important;
}

.bg-dark{
    background-color: var(--color-dark)!important;
    border-radius: 30px;
}

.p-6{
    padding: 4rem 7rem;
}

.contact-box{
    padding: 3rem;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);

}
.btn{
    font font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}

.btn-outline-dark{
    border: 2px solid var(--color-dark-xx);
}

.form_content{
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 0.8rem 1rem;
}
.form_content2{
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 0.8rem 1rem;
    width: 100%;
}
.img_registro{
    background-image: url(https://images.unsplash.com/photo-1555371363-27a37f8e8c46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}