* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: #FFF;
    font-family: 'Quicksand', sans-serif;
} 
.main_top{
  display: flex;
	justify-content:flex-start;
	align-items: center;
}
.main_top img{
  height: 600px;
  position: absolute;
}    
section{
  position: relative;
  text-align: center;
}
.main_bottom{
  top: 0;
  right: 0;
  position: absolute;
}
.main_bottom img{
  width: 400px;
  height: 625px;
}
.row{
  margin-top: 20px;
  margin-left: 80px;
} 
table {
  width: 100%;
  border-collapse: collapse;
  caption-side: top;
}
       
caption, td, th {
  padding: 0.3em;
}
/*tbody {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}*/
tbody th, tfoot th {
  border: 0;
}
th.name {
  width: 25%;
}
th.location {
  width: 20%;
}
th.lasteruption {
  width: 30%;
}
th.eruptiontype {
  width: 25%;
}
tfoot {
  text-align: center;
  font-size: 0.8em;
}
.btn{
   border-radius: 1.5rem;
   min-width: 1rem;
   font-weight: 500;
   margin-left: 3.5px;
}
th{
   padding: 10px 10px 10px 10px;
   background-color: /*#12192C*/#0d2941;
   font-weight: 500;
   text-align: center;
}
td{
    background: #eeeeee;
    text-align: center;
    font-weight: 500;
}
textarea{
   resize: none;
   width: 250px;
   height: 70px;
   font-weight: 500;
}
