* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: #FFF;
    font-family: 'Staatliches';
}        
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 1em 0;
  caption-side: top; 
   
}
       
caption, td, th {
  padding: 0.3em;
}
tbody {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
tbody th, tfoot th {
  border: 0;
}
th.name {
  width: 25%;
}
th.location {
  width: 20%;
}
th.lasteruption {
  width: 30%;
}
th.eruptiontype {
  width: 25%;
}
tfoot {
  text-align: center;
  font-size: 0.8em;
}
.btn{
   border-radius: 0.5rem;
   min-width: 1rem;
}
th{
   padding: 10px 10px 10px 10px;
   background-color: #133b5c;
   font-weight: normal;
   text-align: center;
}
td{
    background: #eeeeee;
    text-align: center;
}
textarea{
   resize: none;
   width: 250px;
   height: 70px;
}