* {
    
    box-sizing: border-box;
  }

body{
    background: #eee;
    font-family: 'Quicksand', sans-serif;
}
header{
    background: #12192C;
    color: #FFF;
    width: 100%;
}
.panel-title{
    padding-top: 0.3em;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0.5em;
}

.panel-body{
    padding: 1em 1em 1em;
    font-size: 25px;
    font-weight: 700;
    margin-left: 400px;
}

input{
    border-style: none;
    outline: none;
    background: #eee;
    padding: 0.5em 3em 0.5em;
}
button{
  width: 150px;
  background-color: #12192C;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 570px;
  cursor: pointer;
}